/* Stepanie Eckles Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* vertical rhythm */
* + * {
  margin-top: 1.5rem;
}

/* For Articles...un-comment next section if using articles*/

/*article * + h2 {
  margin-top: 4rem;
}*/

/* These selectors can be wielded to perform some basic accessibility linting, such as the following: */

img:not([alt]) {
  outline: 2px solid red;
}

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  min-height: calc(100vh - 40em);
}
.container {
  background: linear-gradient(-90deg, #ae2f96, #e061c8);
  width: 95vw;
}
img {
  max-width: 100%;
}

p {
  margin-bottom: 0.4em;
}

h2 {
  margin: 1.5em, 0;
}

h4 {
  margin: 1em 0;
}

li {
  margin-bottom: 0;
}

.meal {
  margin: 2em 0;
}

.text-center {
  text-align: center;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 1.6em;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh; /* if you don't want it to take up the full screen, reduce this number */
  overflow: hidden;
  background-size: cover !important;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url(https://images.unsplash.com/photo-1601315379734-425a469078de?crop=entropy&cs=srgb&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85)
      no-repeat center center scroll;
}

h1 {
  font-style: normal;
  font-weight: bold;
  color: #eee;
  font-size: 11vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 46px;
}

@media only screen and (min-width: 1200px) {
  body {
    max-width: calc(100vw - 5em);
    margin: auto;
  }
}
